/* Support Page */

/* HeroSection.jsx */
#supportHero {
    height: 78.25vh;
    color: white;
    background-color: rgb(56, 126, 209);
}
#supportHero a {
    color: white;
}
.supportWrapper {
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 7.15rem;
}
.supportWrapper a {
    opacity: 1;
    text-decoration: none;
    position: relative;
}
.supportWrapper a::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    left: 0;
    bottom: 0.45rem;
}
.supportWrapper a:hover {
    opacity: 0.83;
}
.sWrapperBottom .left {
    padding-left: 7.7rem;
    padding-right: 4.25rem;
    margin-top: -0.3rem;
}
.sWrapperBottom .left h5 {
    font-size: 22px;
    line-height: 1.4;
}
.sWrapperBottom .left input {
    background-color: white;
    margin-top: 1.5rem;
    width: 97%;
    padding: 1rem 1.3rem;
    border-radius: 3px 0 0 3px;
    border: none;
    outline: none;
}
.sWrapperBottom .left .searchIcon {
    position: relative;
}
.sWrapperBottom .left .searchIcon i {
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    position: absolute;
    top: 30%;
    bottom: 0;
    padding: 1.3rem 1.25rem;
    font-size: 1.15rem;
    border-radius: 0 3px 3px 0;
}
.sWrapperBottom .left .links a {
    text-decoration: none;
    border-bottom: 1px solid white;
    margin-right: 1.6rem;
    padding-bottom: 0.3rem;
    line-height: 2.35;
}
.sWrapperBottom .right {
    padding: 2.25rem 1rem;
}

/* CreateTicket.jsx */
.ticketSection .mainHeading {
    margin: 1.3rem 0;
    font-weight: 400;
    color: var(--secondaryTextColor);
}
.ticketCard .cardTitle a {
    text-decoration: none;
    font-size: 18px;
    color: var(--primaryTextColor);
}
.ticketCard .cardOptions {
    display: flex;
    flex-direction: column;
}
.ticketCard .cardOptions a {
    text-decoration: none;
    font-size: 14px;
    line-height: 2.45;
}


@media screen and (max-width: 768px) {
    .supportWrapper h5 {
        font-size: 17px;
    }
    .supportWrapper {
        padding: 0.75rem 0.25rem;
    }
    .sWrapperBottom .left h5 {
        display: none;
    }
    .sWrapperBottom .left {
        padding-left: 1.5rem;
    }
    .sWrapperBottom .left .links a {
        display: inline-block;
        margin-top: 0.45rem;
        margin-bottom: 0.3rem;
        line-height: 1.5;
    }
    .sWrapperBottom .right {
        padding-left: 1.4rem;
    }
}
