/* HomePage */

/* HeroSection.jsx */
.home-h1 {
    font-size: 2.75rem;
}

.home-img {
    max-height: 45vh;
    width: 50vw;
    margin: 1.1rem auto;
}

/* Award.jsx */
.award-pressLogo-rightImg {
    width: 95%;
    margin: 0 auto;
}

/* Stats.jsx */
.stats-ecosystem-rightImg {
    width: 98%;
    margin-left: 0.5rem;
}

.stats-para {
    width: 96%;
    line-height: 1.8;
    margin: 0.5rem 0 2.1rem 0.2rem;
}

.stats-link a,
.pricing-link,
.education-link {
    font-size: 0.96rem;
}

.stats-link a i,
.pricing-link i,
.education-link i {
    font-size: 0.95rem;
    opacity: 0.65;
}

/* Pricing.jsx */
.pricing-para {
    font-size: 0.97rem;
    line-height: 1.8;
    margin: 0.25rem 0 1rem 0;
}

.pricing-rightRow .col {
    display: flex;
    margin: 2rem 0 0 -2rem;
}

.pricing-rightRow img {
    width: 53%;
    height: 100%;
}

.pricing-rightRow .pricing-text {
    font-size: 0.63rem;
    margin: 2.7rem 0 0 -1.55rem;
    white-space: nowrap;
}

.pricing-rightRow .col:nth-child(3) img {
    margin-left: 0.9rem;
    margin-right: 1.25rem;
    margin-top: 0.25rem;
}

/* Education.jsx */
.education-img {
    width: 86.25%;
    height: 100%;
}


@media screen and (max-width: 768px) {
    .pricing-rightRow {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0.5rem;
        padding: 0 0.5rem;
    }

    .pricing-rightRow .col {
        flex: 0 0 45%;
    }

    .pricing-rightRow .pricing-text {
        padding-bottom: 1.5rem;
        padding-left: 0.25rem;
    }
}