:root {
    --primaryTextColor: rgb(66, 66, 66);
    --secondaryTextColor: rgb(102, 102, 102);
    --thirdTextColor: rgb(56, 126, 209);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--primaryTextColor);
}